/*
 * Стили для основного блока
 */

.central {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
  min-height: 740px;
}
